<html>
  <head>
    <title>Orders</title>
    <style>
      table { border-collapse: collapse; width: 80%; margin: 20px auto; } th, td
      { border: 1px solid #ddd; padding: 8px; text-align: left; } th {
      background-color: #f2f2f2; }
    </style>
  </head>
  <body>
    <h1>You have {{orders.length}} incoming orders</h1>
    {{#each orders}}
      <h2>Order Details</h2>
      <p>Order Number: {{this.orderId}}</p>
      <p>Total Items: {{this.items.length}}</p>
      <p>Total Cost: <b>{{this.totalCost}}€</b></p>
      <p>Order Date: {{this.orderTime}}</p>

      <h2>Items</h2>
      <table>
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Item Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.items}}
            <tr>
              <td>{{this.quantity}}</td>
              <td>{{this.itemName}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
  </body>
</html>